.categories,
.most-wishlisted {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0;
}

.category {
    position: relative;
    border: 9px solid var(--secondary-color);
    box-shadow: 20px 20px var(--gray);
    cursor: pointer;
}
.categories-title{
    width: 17rem;
    margin: 1.3rem auto;
    font-size: 3rem;
    color: var(--secondary-color);
    
}
.category-title {
    position: absolute;
    top: 5rem;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;

}
.title{
    color:white;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
}
.title:hover {
    color: greenyellow;

}