.rating {
  margin-left: 1rem;
}
.cart-secondary {
  text-decoration: none;
  color: var(--primary-color);
}
.card-title {
  color: var(--black);
  font-weight: 500;
}
.card-btns {
  margin-top: 2rem;
  
}
.card{
  background-color: rgb(146, 197, 128);
  
}
.fa-star{
  margin-left: 5px;
}
.card-logo{
  height: 14rem;
}
.cart-move, .cart-wishlist{
  text-decoration: none;
  color: var(--primary-color);
}
